.mui-bar .mui-title{right:20px;left:20px;}
body.home_page{width:100vw;height:100vh;overflow:hidden;background: #fff;}
footer{position: fixed;bottom: 0;left: 0;width: 100%;}
footer>p{color: #fff;background: #008dff;text-align: center;font-size:14px;width: 100%;line-height: 35px;}
.home_content{margin: 44px 0 30px 0;font-size:14px;}
div.choose_items>p{border-bottom:1px solid #ddd;color: #000;}
div.choose_items>p>span{line-height:30px;float:left;display: inline-block;width: 80%;padding-left:3%;}
div.choose_items>p>img{margin-top:6px;margin-right:10px;width: 17px;float: right;}
ul.home_menu{text-align: center;color: #ddd;width: 100%;font-size:0;}
ul.home_menu>li{font-size:14px;display: inline-block;background: #008dff;margin:4%;width: 43%;margin-bottom:0;border-radius: 5px;}
ul.home_menu>li:nth-of-type(odd){margin-right:0;}
ul.home_menu>li>a>span:nth-of-type(1){display: block;color: #fff;margin-bottom:5px;}
ul.home_menu>li>a>p{width:100%;height: 50px;position: relative;}
ul.home_menu>li>a>p>img{width: 24%;margin-top:10px;}
ul.home_menu>li>a>p>span{position: absolute;top: -6px;right: -6px;display: none;}
ul.home_menu>li>a>p>span.open{display: block;}
/*MUI*/
.mui-popup-inner p{color:#008dff;line-height: 30px;border-bottom: 1px solid #ddd;}
.mui-popup-inner p:last-of-type{border-bottom: none;}
.mui-popup-title+.mui-popup-text{max-height: 320px;overflow-y: scroll;}
