<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>统计台帐</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<style type="text/css">
			div.book_page{width:100vw;min-height:100vh;background: #fff;}
			div.book_page ul{font-size:14px;padding-top:44px;}
			div.book_page li{border-bottom: 1px solid #ddd;padding-left:10px;}
			div.book_page li span{display: inline-block;line-height: 35px;color: #000;vertical-align: middle;}
			div.book_page li a i.mui-icon{float: right;color: #999;margin-top: 5px;}
		</style>
	</head>

	<body>
		<div class="book_page">
			<div class="content">
				<header id="header" class="mui-bar mui-bar-nav">
					<a href="../index.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">统计台帐</h1>
				</header>
				<ul>
					<li>
						<a href="">
							<span>总资料统计</span>
							<i class="mui-icon mui-icon-forward"></i>
						</a>
					</li>
					<li>
						<a href="">
							<span>合格数据统计</span>
							<i class="mui-icon mui-icon-forward"></i>
						</a>
					</li>
					<li>
						<a href="">
							<span>已闭合统计</span>
							<i class="mui-icon mui-icon-forward"></i>
						</a>
					</li>
					<li>
						<a href="">
							<span>未闭合统计</span>
							<i class="mui-icon mui-icon-forward"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>

</html>