<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>资料详情</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<style type="text/css">
			div.checkdetail_page{width:100vw;min-height:100vh;background: #fff;}
			div.checkdetail_page ul{font-size:14px;padding-top:44px;}
			div.checkdetail_page li{background: #ddd;margin-top: 5px;line-height: 30px;padding:0 10px;}
			div.checkdetail_page li>span:nth-of-type(1){display:inline-block;width:38%;font-size: 16px;}
			li>span>i.mui-icon{color: #008dff;font-size:18px;}
		</style>
	</head>

	<body>
		<div class="checkdetail_page">
			<div class="content">
				<header id="header" class="mui-bar mui-bar-nav">
					<a href="./check.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">资料详情</h1>
					<a href="./history.html" class="mui-icon mui-icon-info-filled mui-pull-right" style="color: #fff;"></a>
				</header>
				<ul>
					<li>
						<span>资料名称：</span>
						<span class="name">asdf1321</span>
					</li>
					<li>
						<span>部位：</span>
						<span class="buwei">艾丝凡</span>
					</li>
					<li>
						<span>建表日期：</span>
						<span class="creatTime">2017.11.02</span>
					</li>
					<li>
						<span>编辑日期：</span>
						<span class="editTime">2017.11.02</span>
					</li>
					<li>
						<span>完成日期：</span>
						<span class="finishTime">2017.11.02</span>
					</li>
					<li>
						<span>审核日期：</span>
						<span class="checkTime">2017.11.02</span>
					</li>
					<li>
						<span>上传日期：</span>
						<span class="updateTime">2017.11.02</span>
					</li>
					<li>
						<span>审核人：</span>
						<span class="checkName">mioAkuma</span>
					</li>
					<li>
						<span>所属分部分项：</span>
						<span class="child_list">fasdf<i class="mui-icon mui-icon-arrowright"></i>asfdsa<i class="mui-icon mui-icon-arrowright"></i>asdf</span>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>

</html>