<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>施工报表材料</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<style type="text/css">
			div.material_page{width:100vw;min-height:100vh;background: #fff;}
			div.footer{position: fixed;bottom: 0;left: 0;width: 100%;background: #ddd;line-height: 40px;text-align: center;}
		</style>
	</head>

	<body>
		<div class="material_page">
			<div class="content">
				<header id="header" class="mui-bar mui-bar-nav">
					<a href="../index.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">施工报表资料</h1>
				</header>
				<div class="footer">审核通过</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>

</html>